Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

build: bump chisel 7.3.0 and some dependencies
  build.mill
Owners: none

fix(prefetch): the train physical address need be guarantee valid
  src/main/scala/xiangshan/mem/pipeline/HybridUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Owners: @good-circle, @linjuanZ

feat(pbus):aplic wrapper finish,compile ok
  src/main/scala/system/Pbus2.scala
  src/main/scala/system/aplic_top.scala
Owners: none

refactor(sc): refactor writeEntry update logic
  src/main/scala/xiangshan/frontend/bpu/sc/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): fix the error of multi-hit flush more than 1
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
Owners: @eastonman, @Gao-Zeyu

fix(ittage): select lowest-index branch when multiple-train to avoid assertion
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
Owners: @eastonman, @Gao-Zeyu

Bump difftest with the abstract DifftestMem class
  src/main/scala/device/AXI4RAM.scala
  src/main/scala/xiangshan/cache/dcache/FakeDCache.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Owners: @linjuanZ, @good-circle

feat(phr): shiftBits calculation logic adds target info (#5169)
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @eastonman, @Gao-Zeyu

timing(PTW): fix timing for pmp check
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(PTW): remove SRAM blocks with shallow depth
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(LLPTW): move address generation logic to one cycle earlier
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(bitmap): fix BitampCache lookup and l0BitmapReg updata timing
  src/main/scala/xiangshan/cache/mmu/BitmapCheck.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(LLPTW): refactor block_hptw_req to improve timing
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(LRQ): fix timing for uop.exceptionVec
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
Owners: @good-circle, @linjuanZ

timing(LoadUnit): optimize RAW enqueue timing
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @good-circle, @linjuanZ

timing(loadQueueRAW): fix timing for query.valid
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @good-circle, @linjuanZ

timing(MemBlock): modify GatedValidRegNext to RegNext for some 1-bit signals
  src/main/scala/xiangshan/cache/mmu/Repeater.scala
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(VSplit): optimize ICG timing
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

timing(DCache): delay PseudoError to MainPipe by one cycle
  src/main/scala/xiangshan/cache/dcache/CtrlUnit.scala
Owners: @linjuanZ

feat(StandAloneDevice): modify standalone device id from 1bit to 16bit (#5180)
  src/main/scala/device/standalone/StandAloneDevice.scala
Owners: none

fix(L1TLB): ignore addr when when mbmc.BME = 1 & CMODE = 0 (#5182)
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
Owners: @good-circle, @cebarobot, @linjuanZ

Bump DiffTest
  .gitmodules
  Makefile
  Makefile.emu
  project/build.properties
  scalastyle-config.xml
  scalastyle-test-config.xml
  src/main/scala/device/AXI4RAM.scala
  src/main/scala/device/AXI4UART.scala
  src/main/scala/difftest/Difftest.scala
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/FloatBlock.scala
  src/main/scala/xiangshan/backend/IntegerBlock.scala
  src/main/scala/xiangshan/backend/fu/CSR.scala
  src/main/scala/xiangshan/backend/roq/Roq.scala
  src/main/scala/xiangshan/frontend/FakeICache.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
  src/main/scala/xiangshan/mem/sbuffer/NewSbuffer.scala
  src/test/scala/top/SimMMIO.scala
  src/test/scala/top/XSSim.scala
  src/test/testcase/Makefile
  src/test/testcase/tests/double-loop.c
  src/test/testcase/tests/nested-loop.c
  src/test/vcs/UARTHelper.v
  src/test/vcs/assert.v
  src/test/vcs/common.c
  src/test/vcs/ram.c
  src/test/vcs/ram.v
  src/test/vcs/sdcard.c
  src/test/vcs/uart.c
  src/test/vcs/xs_vcs_top.v
  src/test/vsrc/assert.v
  src/test/vsrc/difftest.v
  src/test/vsrc/ram.v
Owners: @Gao-Zeyu, @good-circle, @linjuanZ

Bump DiffTest
  Makefile
  src/main/scala/xiangshan/backend/Scheduler.scala
  src/main/scala/xiangshan/backend/exu/WbArbiter.scala
  src/main/scala/xiangshan/backend/fu/CSR.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
  src/test/scala/top/SimTop.scala
Owners: @linjuanZ, @ngc7331, @Gao-Zeyu, @good-circle

chore: use def in Parameters
  src/main/scala/xiangshan/Parameters.scala
Owners: none

build: bump chisel 7.3.0 and some dependencies (#5183)
  build.mill
Owners: none

feat(bpu): add Constantin to Mux bpu components
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): call init before use Constatin
  .gitignore
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): for pmus, distinguish final pred source from s3_override
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

feat(frontend): add pmus
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
  src/main/scala/xiangshan/frontend/ftq/Bundles.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
  src/main/scala/xiangshan/frontend/ifu/IfuPerfAnalysis.scala
  src/main/scala/xiangshan/frontend/ifu/PredChecker.scala
Owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly

fix(bpu): change pmu naming
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): use s3 prediction pmus should set when s3 override
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

test(bpu): attr and position mismatch now at the same priority
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
Owners: @eastonman, @Gao-Zeyu, @Yan-Muzi

fix(ifu): uncacheBubble use s3 wires
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Owners: @ngc7331, @my-mayfly, @Gao-Zeyu

fix(bpu): pmu use s3_prediction.attribute directly
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): fix the error of multi-hit flush more than 1 (#5181)
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
Owners: @eastonman, @Gao-Zeyu

fix(ftq): use hardware type of BranchInfo when FPGAPlatform is set
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
Owners: @Yan-Muzi, @Gao-Zeyu

fix(TLB): gpaddr should be same to vaddr when onlyS2
  src/main/scala/xiangshan/cache/mmu/TLB.scala
Owners: @good-circle, @cebarobot, @linjuanZ

fix(VsegmentUnit): fix latch of paddr when element is unalign (#5164)
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

fix(tage): revert to kunminghu-v3
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): perf_s2HitMask histogram now ranges from [0, 8+1)
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
Owners: @eastonman, @Gao-Zeyu

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin
