Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

perf(DCache, LDU): add perfEvent in L1 DCache (#5166)
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @linjuanZ, @good-circle

feat(pma,pmp): supoort 32 pmp and pma
  src/main/scala/device/TLPMA/TLPMA.scala
  src/main/scala/xiangshan/PMParameters.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRPMA.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRPMP.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/PMAEntryModule.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/PMPEntryModule.scala
  src/main/scala/xiangshan/backend/fu/PMA.scala
  src/main/scala/xiangshan/backend/fu/PMP.scala
Owners: none

fix(bpu): enable abtb source for s1 prediction pmus
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

feat(bpalign): add dpic sim bpu structure
  src/main/scala/xiangshan/frontend/bpu/BpuAlign.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpalign): add env support
  Makefile
  src/main/scala/top/ArgParser.scala
  src/main/scala/xiangshan/Parameters.scala
Owners: @Tang-Haojin

feat(bpalign): connect IO
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/BpuAlign.scala
Owners: @eastonman, @Gao-Zeyu

feat(bpalign): add bpalign support
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/bpu/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/BpAlign.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/BpuAlign.scala
Owners: @Gao-Zeyu, @eastonman

submodule(utility): bump utility
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/package.scala
Owners: @Gao-Zeyu

fix(TLB): gpaddr should be same to vaddr when onlyS2 (#5189)
  src/main/scala/xiangshan/cache/mmu/TLB.scala
Owners: @good-circle, @cebarobot, @linjuanZ

feat(pma,pmp): parameterize PMPs and PMAs (#5177)
  src/main/scala/device/TLPMA/TLPMA.scala
  src/main/scala/xiangshan/PMParameters.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRPMA.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRPMP.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/PMAEntryModule.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/PMPEntryModule.scala
  src/main/scala/xiangshan/backend/fu/PMA.scala
  src/main/scala/xiangshan/backend/fu/PMP.scala
Owners: none

timing(LRQ): LRQ temporal optimization
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @good-circle, @linjuanZ

timing(MemBlock): modify GatedValidRegNext to RegNext for some 1-bit signals
  src/main/scala/xiangshan/cache/mmu/Repeater.scala
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(VSplit): optimize ICG timing
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

timing(LoadUnit): optimize RAW enqueue timing
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @good-circle, @linjuanZ

timing(LRQ & BankedDataArray): adjust ecc_error_delay to the previous pipeline
  src/main/scala/xiangshan/cache/dcache/data/BankedDataArray.scala
Owners: @linjuanZ

timing(loadQueueRAW): fix timing for query.valid
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @good-circle, @linjuanZ

Revert "timing(LoadQueueReplay): move needReplay generation to LDU"
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @linjuanZ, @good-circle

timing(DCache): delay PseudoError to MainPipe by one cycle
  src/main/scala/xiangshan/cache/dcache/CtrlUnit.scala
Owners: @linjuanZ

timing(LRQ): fix timing for uop.exceptionVec
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
Owners: @good-circle, @linjuanZ

timing(LoadQueueReplay): move needReplay generation to LDU
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @linjuanZ, @good-circle

Revert "timing(LRQ & BankedDataArray): adjust ecc_error_delay to the previous pipeline"
  src/main/scala/xiangshan/cache/dcache/data/BankedDataArray.scala
Owners: @linjuanZ

perf(berti): temporarily close berti for slightly better performance
  src/main/scala/xiangshan/mem/prefetch/PrefetcherWrapper.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(PerfEvent): add events in backend
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(icache): icache miss bubble
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
Owners: @ngc7331, @Gao-Zeyu

ci(nightly): use make init to checkout submodules
  .github/workflows/nightly.yml
Owners: none

README: fix a typo
  README.md
Owners: none

ci(nightly): use make init to checkout submodules (#5192)
  .github/workflows/nightly.yml
Owners: none

Makefile: disable logs by default
  Makefile
Owners: none

Bump Chisel 7.3.0
  build.mill
  src/main/scala/xstransforms/Helpers.scala
  src/main/scala/xstransforms/PrintControl.scala
  src/main/scala/xstransforms/PrintModuleName.scala
  src/test/scala/fu/IntDiv.scala
Owners: none

fix(Makefile): fix help command
  Makefile
Owners: none

fix(csr): set b-bit in misa
  src/main/scala/xiangshan/backend/fu/CSR.scala
Owners: none

Bump Chisel 7.3.0
  build.mill
  src/main/scala/xiangshan/frontend/SC.scala
  src/main/scala/xstransforms/Helpers.scala
  src/main/scala/xstransforms/PrintControl.scala
  src/main/scala/xstransforms/PrintModuleName.scala
  src/test/scala/cache/CacheTest.scala
  src/test/scala/cache/L1DTest/CoreAgent.scala
  src/test/scala/cache/L1DTest/CoreTransatcion.scala
  src/test/scala/cache/L1DTest/L1DTest.scala
  src/test/scala/cache/L1plusCacheTest.scala
  src/test/scala/cache/L2CacheNonInclusiveGetTest.scala
  src/test/scala/cache/L2CacheTest.scala
  src/test/scala/cache/ReplaceTest.scala
  src/test/scala/cache/TLCTest/BigIntUtil.scala
  src/test/scala/cache/TLCTest/FixedBlockFuzzer.scala
  src/test/scala/cache/TLCTest/TLCAgent.scala
  src/test/scala/cache/TLCTest/TLCTest.scala
  src/test/scala/cache/TLCTest/TLCTransaction.scala
  src/test/scala/cache/TLCTest/TLMasterMMIO.scala
  src/test/scala/cache/TLCTest/TLSlaveMMIO.scala
  src/test/scala/cache/TLCTest/TLULAgent.scala
  src/test/scala/cache/TLCTest/TLULMMIO.scala
  src/test/scala/cache/UnalignedGetTest.scala
  src/test/scala/device/AXI4BurstMaster.scala
  src/test/scala/device/AXI4RamTest.scala
  src/test/scala/device/AXI4TimerTest.scala
  src/test/scala/device/SimMMIOTest.scala
  src/test/scala/device/TLBurstMaster.scala
  src/test/scala/device/TLTimerTest.scala
  src/test/scala/xiangshan/backend/exu/DCacheTest.scala
  src/test/scala/xiangshan/backend/exu/LsuTest.scala
  src/test/scala/xiangshan/frontend/IFUTest.scala
  src/test/scala/xiangshan/frontend/PDtest.scala
  src/test/scala/xiangshan/frontend/RASTest.scala
  src/test/scala/xiangshan/frontend/uBTBTest.scala
  src/test/scala/xiangshan/memend/SbufferTest.scala
  src/test/scala/xiangshan/testutils/AddSinks.scala
  src/test/scala/xiangshan/testutils/PartialDecoupledDriver.scala
  src/test/scala/xiangshan/testutils/TestCaseGenerator.scala
Owners: @Gao-Zeyu

Fixed title level and added sane instructions in readme.zh-cn.md
  README.md
  readme.zh-cn.md
Owners: none

Fixed typo in readme.zh-cn.md
  readme.zh-cn.md
Owners: none

Fixed nanhu-G core FPGA running instructions in README.md and readme.zh-cn.md (#5195)
  README.md
  readme.zh-cn.md
Owners: none

feat(Bpu): use DecoupledIO to backpressure resolveQueue
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/FallThroughPredictor.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/ras/Ras.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Owners: @Gao-Zeyu, @eastonman

feat(resolve): change resolve queue io to decoupled and drop entries that can not be enqueued
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueue.scala
Owners: @Yan-Muzi, @Gao-Zeyu

feat(pf): add csr control of delay latency for l2 prefetch train
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRCustom.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/mem/prefetch/BasePrefecher.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

feat(commit): limit BP train stall counts in addition to distance between BP and IF
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
Owners: @Yan-Muzi, @Gao-Zeyu

refactor(tage): add BaseTableAlignBank wrapper (#5162)
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTableAlignBank.scala
Owners: @eastonman, @Gao-Zeyu

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin
