Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

chore: add constantin and default no db in xiangshan.py
  .github/workflows/emu.yml
  scripts/xiangshan.py
Owners: none

fix(stream): sent prefetch request only once to l1 dcache
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

build: add make init-force for reliable checkout (#5200)
  .github/workflows/emu.yml
  .github/workflows/nightly.yml
  .github/workflows/perf-template.yml
  .github/workflows/release.yml
  Makefile
Owners: none

feat(pmu): add pmu for TLB
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
Owners: @Gao-Zeyu, @linjuanZ

ci(nightly): use make init to checkout submodules
  .github/workflows/nightly.yml
Owners: none

build: add make init-force for reliable checkout
  .github/workflows/emu.yml
  .github/workflows/nightly.yml
  .github/workflows/perf-template.yml
  .github/workflows/release.yml
  Makefile
Owners: none

feat(rvv):Add oldvd dependency clearing for some instructions fix(rvv):Fixed whether emul is a fractional
  src/main/scala/xiangshan/backend/decode/DecodeUnit.scala
  src/main/scala/xiangshan/backend/fu/FuType.scala
Owners: none

fix(ICache): do not update reg(0) if !doubleline
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
Owners: @ngc7331, @Gao-Zeyu

refactor(commit): clean up backend-frontend commit datapath
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqPtrVec.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
  src/main/scala/xiangshan/frontend/simfrontend/SimFrontend.scala
Owners: @Gao-Zeyu, @Yan-Muzi, @ngc7331, @my-mayfly

feat(commit): train RAS when commit
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/ras/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/ras/Ras.scala
  src/main/scala/xiangshan/frontend/ftq/CommitQueue.scala
  src/main/scala/xiangshan/frontend/ftq/CommitQueuePtr.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
Owners: @Gao-Zeyu, @eastonman, @Yan-Muzi

refactor(trace, interface): assign `itype` to frontend
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
  src/main/scala/xiangshan/backend/trace/Interface.scala
Owners: none

refactor(pre-decode): frontend now does not send branch attribute to backend
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnit.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
  src/main/scala/xiangshan/backend/trace/Interface.scala
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/ibuffer/Bundles.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
  src/main/scala/xiangshan/frontend/simfrontend/SimFrontend.scala
Owners: @Gao-Zeyu, @ngc7331, @my-mayfly

feat(utage): add mini Tage predictor as an auxiliary predictor
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

feat(utage): utage connect with abtb and ubtb
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/CompareMatrix.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/utage/BaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

feat(utage): add fast train
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/SaturateCounter.scala
  src/main/scala/xiangshan/frontend/bpu/utage/BaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

ci & build: import make init-force and use it for checkout submodules (#5211)
  .github/workflows/emu.yml
  .github/workflows/nightly.yml
  .github/workflows/perf-template.yml
  .github/workflows/release.yml
  Makefile
Owners: none

refactor(MemBlock): use `StoreUnitToLFST` for LFST update
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/pipeline/HybridUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Owners: @linjuanZ, @good-circle

refactor: replace `MemExuInput` with `ExuInput`
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/MemCommon.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
  src/main/scala/xiangshan/mem/pipeline/HybridUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
  src/main/scala/xiangshan/mem/vector/VSplit.scala
  src/main/scala/xiangshan/mem/vector/VecBundle.scala
  src/main/scala/xiangshan/mem/vector/VecCommon.scala
  src/main/scala/xiangshan/mem/vector/VfofBuffer.scala
Owners: @linjuanZ, @good-circle, @weidingliu

fix(MemBlock, Region): atomics should not writeback to bypassNetwork
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/Region.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @linjuanZ, @good-circle, @weidingliu

refactor: refactor writeback of MemBlock
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/Region.scala
  src/main/scala/xiangshan/backend/datapath/VldMergeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadMisalignBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueUncache.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreMisalignBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/VirtualLoadQueue.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StdExeUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/prefetch/FDP.scala
  src/main/scala/xiangshan/mem/vector/VMergeBuffer.scala
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
  src/main/scala/xiangshan/mem/vector/VSplit.scala
  src/main/scala/xiangshan/mem/vector/VecBundle.scala
  src/main/scala/xiangshan/mem/vector/VecCommon.scala
  src/main/scala/xiangshan/mem/vector/VfofBuffer.scala
Owners: @linjuanZ, @good-circle, @happy-lx, @Maxpicca-Li, @weidingliu

fix(ifu): uncacheBubble use s3 wires
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Owners: @ngc7331, @my-mayfly, @Gao-Zeyu

feat(frontend): add pmus
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
  src/main/scala/xiangshan/frontend/ftq/Bundles.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
  src/main/scala/xiangshan/frontend/ifu/IfuPerfAnalysis.scala
  src/main/scala/xiangshan/frontend/ifu/PredChecker.scala
Owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly

feat(bpu): add Constantin to Mux bpu components
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(tage): revert to kunminghu-v3
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): enable constantin only when env.EnableConstatin && env.FPGAPlatform
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): change pmu naming
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

test(bpu): attr and position mismatch now at the same priority
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
Owners: @eastonman, @Gao-Zeyu, @Yan-Muzi

fix(bpu): enable abtb source for s1 prediction pmus
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): perf_s2HitMask histogram now ranges from [0, 8+1)
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): pmu use s3_prediction.attribute directly
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): use s3 prediction pmus should set when s3 override
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): for pmus, distinguish final pred source from s3_override
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(bpu): call init before use Constatin
  .gitignore
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(ftq): use hardware type of BranchInfo when FPGAPlatform is set
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
Owners: @Yan-Muzi, @Gao-Zeyu

feat(ubtb): add pmu, align to GEM5
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Owners: @eastonman, @Gao-Zeyu

refactor(Frontend): remove itlb/pmp port from ifu
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Owners: @Gao-Zeyu, @ngc7331, @my-mayfly

refactor(Frontend): rewrite io bundle
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ibuffer/IBuffer.scala
Owners: @Gao-Zeyu, @Yan-Muzi

docs(Frontend): update license
  src/main/scala/xiangshan/frontend/Frontend.scala
Owners: @Gao-Zeyu

refactor(Frontend): add port delay consts
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
Owners: @Gao-Zeyu

refactor(Frontend): remove unused codes & re-organize imports
  src/main/scala/xiangshan/frontend/Frontend.scala
Owners: @Gao-Zeyu

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin
