Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin

fix(mbtb): fix s2_internalBankMask typo
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
Owners: @eastonman, @Gao-Zeyu

timing(PTW): fix timing for pmp check
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(LLPTW): refactor block_hptw_req to improve timing
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(LLPTW): move address generation logic to one cycle earlier
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(bitmap): fix BitampCache lookup and l0BitmapReg updata timing
  src/main/scala/xiangshan/cache/mmu/BitmapCheck.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(PTW): remove SRAM blocks with shallow depth
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
Owners: @good-circle, @cebarobot, @linjuanZ

fix(ICache): do bpuFlush even if wayLookup is empty (#5165)
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
Owners: @ngc7331, @Gao-Zeyu

fix(PerfEvent): add events in backend
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(DCache): modify l1D write PMU
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/storepipe/StorePipe.scala
Owners: @linjuanZ

refactor(mbtb): re-structure code (#5159)
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbInternalBank.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbReplacer.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

refactor(tage): add BaseTableAlignBank wrapper
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTableAlignBank.scala
Owners: @eastonman, @Gao-Zeyu

feat(ghr): add ghr skeleton
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Abstract.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/IttageTable.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScPathTable.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @Gao-Zeyu, @eastonman

feat(sc, ghr): add ghr and add sc gTable
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @Gao-Zeyu, @eastonman

feat(ghr): add redirect recovery ghr logic
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
Owners: @eastonman, @Gao-Zeyu

fix(sc, ghr): fix ghr shiftBits writing issue
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @eastonman, @Gao-Zeyu

fix(sc, ghr): fix ghr shift bit calculate error
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @eastonman, @Gao-Zeyu

feat(tracertl): seperate tracertl param
  src/main/scala/top/ArgParser.scala
  src/main/scala/top/Configs.scala
  src/main/scala/top/Top.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/fu/wrapper/CSR.scala
  src/main/scala/xiangshan/backend/fu/wrapper/DivUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/FDivSqrt.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/cache/mmu/TLB.scala
  src/main/scala/xiangshan/frontend/IBuffer.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceAXISUnpackage.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceHelper.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceParameters.scala
  src/main/scala/xiangshan/frontend/tracertl/TracePredictChecker.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceRTL.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceReader.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceReaderFPGA.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceUtil.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin, @good-circle, @cebarobot, @linjuanZ, @Gao-Zeyu

feat(ghr): adapt to mbtb refactoring
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @eastonman, @Gao-Zeyu

feat(pdb): add CI support and batch mode for XSPdb (#4994)
  .github/workflows/release.yml
  scripts/Makefile.pdb
  scripts/pdb-run.py
  scripts/xspdb/cli_parser.py
  scripts/xspdb/xscmd/__init__.py
  scripts/xspdb/xscmd/cmd_batch.py
  scripts/xspdb/xscmd/cmd_dut.py
  scripts/xspdb/xscmd/cmd_wave.py
  scripts/xspdb/xscmd/util.py
  scripts/xspdb/xspdb.py
Owners: @yaozhicheng, @forever043, @SFangYy, @Tang-Haojin

feat(DCache, CoupledL2): L2 way persistence in L1
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/WritebackQueue.scala
  src/main/scala/xiangshan/cache/dcache/meta/AsynchronousMetaArray.scala
Owners: @linjuanZ

feat(sc): add globalTable and ghr (#5150)
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Abstract.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/IttageTable.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @Gao-Zeyu, @eastonman

feat(pdb): add difftest compare function for xspdb
  scripts/xspdb/xscmd/cmd_difftest.py
Owners: @yaozhicheng, @forever043, @SFangYy, @Tang-Haojin

feat(phr): shiftBits calculation logic adds target info
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @eastonman, @Gao-Zeyu

refactor(VTypeGen): Instruction vtype is generated in IBuffer now
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnit.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
  src/main/scala/xiangshan/backend/decode/VTypeGen.scala
  src/main/scala/xiangshan/backend/fu/vector/Bundles.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/IBuffer.scala
  src/main/scala/xiangshan/frontend/ibuffer/Bundles.scala
  src/main/scala/xiangshan/frontend/ibuffer/IBuffer.scala
  src/main/scala/xiangshan/frontend/simfrontend/SimFrontend.scala
Owners: @Gao-Zeyu

feat(pdb): add files processing commands for xspdb
  scripts/xspdb/xscmd/cmd_files.py
Owners: @yaozhicheng, @forever043, @SFangYy, @Tang-Haojin

timing(MainPipe): optimize ICG timing
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Owners: @linjuanZ

timing(VSplit): optimize ICG timing
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

timing(MainPipe): optimize ICG timing
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Owners: @linjuanZ

fix: apply suggestions from code review
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/mem/prefetch/Berti.scala
  src/main/scala/xiangshan/mem/prefetch/PrefetcherWrapper.scala
Owners: @linjuanZ, @happy-lx, @Maxpicca-Li

fix(abtb): fix condition of writing new entry to abtb & use abtb prediction (#5160)
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(L1TLB): ignore addr when when mbmc.BME = 1 & CMODE = 0
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
Owners: @good-circle, @cebarobot, @linjuanZ

fix(MainPipe): fix s3_way_en width inference bug
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Owners: @linjuanZ

feat(sc): add biasTable skeleton for Sc
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/history/ghr/Ghr.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/sc/ScTable.scala
Owners: @eastonman, @Gao-Zeyu

refactor(berti): optional replacement policy in HistoryTable
  src/main/scala/xiangshan/mem/prefetch/Berti.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

refacter(dcache): optional latency array in DCache
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
Owners: @linjuanZ

perf(berti): open berti and close stride for better performance in the newest version
  src/main/scala/xiangshan/mem/prefetch/PrefetcherWrapper.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(MainPipe): fix s3_way_en width inference bug
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Owners: @linjuanZ

feat(xspdb): Add memory read/write and backtrace commands
  scripts/xspdb/xscmd/cmd_mrw.py
Owners: @yaozhicheng, @forever043, @SFangYy, @Tang-Haojin

feat(StandAloneDevice): modify standalone device id from 1bit to 16bit
  src/main/scala/device/standalone/StandAloneDevice.scala
Owners: none

fix(icache): icache miss bubble
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
Owners: @ngc7331, @Gao-Zeyu
