Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin

feat(MDP): enable StoreSet
  src/main/scala/xiangshan/backend/CtrlBlock.scala
Owners: none

fix(MDP): connect the RobIdx to the Load predicted to be dependent
  src/main/scala/xiangshan/backend/dispatch/NewDispatch.scala
Owners: none

feat(store): add isRVC to storeUnit
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
Owners: none

feat(uncore): add syscnt integration code
  src/main/scala/system/uncore_top.scala
Owners: none

refactor(Frontend): remove itlb/pmp port from ifu (#5213)
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Owners: @Gao-Zeyu, @ngc7331, @my-mayfly

fix(resolve): width of `bpTrainStallCnt` (#5201)
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
Owners: @Yan-Muzi, @Gao-Zeyu

feat(pmu): add pmu for TLB (#5205)
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
Owners: @Gao-Zeyu, @linjuanZ

timing(VSplit): decoupling the valid for vsta and vstd
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

timing(StoreUnit): adjust misaligned replay logic
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Owners: @good-circle, @linjuanZ

feat(tage): support ChiselDB (#5219)
  src/main/scala/xiangshan/frontend/bpu/tage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

feat(abtb): support fast pred when s3 override
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(abtb): fix s2_ready in abtb when overrideValid
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

refactor(Frontend): rewrite io bundle
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ibuffer/IBuffer.scala
Owners: @Gao-Zeyu, @Yan-Muzi

docs(Frontend): update license
  src/main/scala/xiangshan/frontend/Frontend.scala
Owners: @Gao-Zeyu

refactor(Frontend): add port delay consts
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
Owners: @Gao-Zeyu

refactor(Frontend): remove unused codes & re-organize imports
  src/main/scala/xiangshan/frontend/Frontend.scala
Owners: @Gao-Zeyu

refactor(abtb): reformat abtb
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(MMU): PMM is disabled if MXR is effective (#4997)
  src/main/scala/xiangshan/cache/mmu/TLB.scala
Owners: @good-circle, @cebarobot, @linjuanZ

refactor(mbtb,Tage): add VecRotate util (#5218)
  .scalafmt.conf
  src/main/scala/utils/VecRotate.scala
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
Owners: @eastonman, @Gao-Zeyu

refactor(ICache): bond MetaInfo together & improve register gating
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/Helpers.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
Owners: @ngc7331, @Gao-Zeyu

refactor(ICache): rewrite interleaved metaArray
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/Helpers.scala
  src/main/scala/xiangshan/frontend/icache/ICacheCtrlUnit.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaInterleavedBank.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/frontend/icache/Parameters.scala
Owners: @ngc7331, @Gao-Zeyu

refactor(ICache): rewrite metaArray-prefetchPipe interface
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/Helpers.scala
  src/main/scala/xiangshan/frontend/icache/ICacheCtrlUnit.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
Owners: @ngc7331, @Gao-Zeyu

feat(top): adapt difftest interfaces for FPGA difftest
  src/main/scala/top/Top.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin

feat(difftest): replace ArchReg and Writeback with PhyRegState
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/regfile/Regfile.scala
  src/main/scala/xiangshan/backend/rename/RenameTable.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(difftest): add masked RefillEvent, disable for now
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

feat(top): adapt difftest interfaces for FPGA difftest
  src/main/scala/top/Top.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin

feat(difftest): replace ArchReg and Writeback with PhyRegState
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/Region.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/regfile/Regfile.scala
  src/main/scala/xiangshan/backend/rename/RenameTable.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(difftest): add masked RefillEvent, disable for now
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

feat(utage): add mini Tage predictor as an auxiliary predictor
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

feat(utage): utage connect with abtb and ubtb
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/CompareMatrix.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/utage/BaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

fix(CSR, NMI): fix the logic for gating `nmi`
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/TrapHandleModule.scala
Owners: none

feat(debug): add `mstatus` in xstop
  src/main/scala/system/SoC.scala
  src/main/scala/top/Top.scala
  src/main/scala/top/XSNoCTop.scala
  src/main/scala/xiangshan/L2Top.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/trace/Interface.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
Owners: @Tang-Haojin, @linjuanZ

fix(stream): remove the assert when there is no entry update in s1
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(stream): remove the assert when there is no entry update in s1
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(stream): sent prefetch request only once to l1 dcache
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

chore: close the basicDB in L1PrefetchComponet
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(resolve): drop entries that has been overwritten by BP
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueue.scala
Owners: @Yan-Muzi, @Gao-Zeyu

fix(mbtb): correct indirect target when train
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

fix(DCache): fix timing mismatch of corrupt in DCache forwarding
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
Owners: @linjuanZ
