Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @ngc7331, @my-mayfly, @eastonman, @linjuanZ, @cz4e, @bosscharlie, @good-circle, @cebarobot, @Maxpicca-Li, @happy-lx, @weidingliu, @Ivyfeather, @Tang-Haojin

refactor(prefetch): add a wrapper and parameterization (#4790)
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/cache/mmu/Repeater.scala
  src/main/scala/xiangshan/mem/Bundles.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/pipeline/HybridUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/prefetch/BasePrefecher.scala
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
  src/main/scala/xiangshan/mem/prefetch/PrefetcherWrapper.scala
  src/main/scala/xiangshan/mem/prefetch/SMSPrefetcher.scala
Owners: @Tang-Haojin, @good-circle, @cebarobot, @linjuanZ, @cz4e, @happy-lx, @Maxpicca-Li

feat(frontend): changed ftqOffset data structure (#4822)
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
  src/main/scala/xiangshan/frontend/IBuffer.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Owners: @eastonman, @ngc7331, @my-mayfly

feat(backend): refactor uncertain wakeup of idiv and csr
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/dispatch/NewDispatch.scala
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/exu/ExuBlock.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/FuType.scala
  src/main/scala/xiangshan/backend/fu/FuncUnit.scala
  src/main/scala/xiangshan/backend/fu/SRT16Divider.scala
  src/main/scala/xiangshan/backend/fu/wrapper/CSR.scala
  src/main/scala/xiangshan/backend/fu/wrapper/DivUnit.scala
  src/main/scala/xiangshan/backend/issue/EntryBundles.scala
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
  src/main/scala/xiangshan/backend/issue/MultiWakeupQueue.scala
  src/main/scala/xiangshan/backend/issue/OthersEntry.scala
  src/main/scala/xiangshan/backend/issue/SchdBlockParams.scala
  src/main/scala/xiangshan/backend/issue/Scheduler.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

feat(backend): refactor fp wakeup and cancel
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/BackendParams.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/datapath/RFWBConflictChecker.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnit.scala
  src/main/scala/xiangshan/backend/decode/VecDecoder.scala
  src/main/scala/xiangshan/backend/dispatch/NewDispatch.scala
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/exu/ExuBlock.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/FuType.scala
  src/main/scala/xiangshan/backend/fu/FuncUnit.scala
  src/main/scala/xiangshan/backend/fu/FunctionUnit.scala
  src/main/scala/xiangshan/backend/fu/fpu/FpNonPipedFuncUnit.scala
  src/main/scala/xiangshan/backend/fu/fpu/FpPipedFuncUnit.scala
  src/main/scala/xiangshan/backend/fu/fpu/IntFPToVec.scala
  src/main/scala/xiangshan/backend/fu/vector/VecPipedFuncUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/FCMP.scala
  src/main/scala/xiangshan/backend/fu/wrapper/FDivSqrt.scala
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
  src/main/scala/xiangshan/backend/issue/MultiWakeupQueue.scala
  src/main/scala/xiangshan/backend/issue/SchdBlockParams.scala
  src/main/scala/xiangshan/backend/issue/Scheduler.scala
  src/main/scala/xiangshan/backend/rename/BusyTable.scala
Owners: none

feat(robComress): add robComressEn for BackendParams
  src/main/scala/xiangshan/backend/BackendParams.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
Owners: none

feat(backend): support 8 IBufNBank, 8 decodeWidth, 8 renameWidth, 8 rabCommitWidth
  src/main/scala/system/SoC.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/VecExcpDataMergeModule.scala
  src/main/scala/xiangshan/backend/rename/CompressUnit.scala
  src/main/scala/xiangshan/backend/rob/Rab.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/frontend/IBuffer.scala
Owners: @eastonman

fix(issuequeue): fix bug of wakeupFuLatencyMaps causes duplicated verilog
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
Owners: none

fix(backend): fix bug of lastUncertainFire and srcLoadDependencyUpdate when src is imm
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/dispatch/NewDispatch.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

feat(backend): vector scheduler decrease to 2 iq
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
Owners: none

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache @ngc7331
src/main/scala/xiangshan/frontend/instruncache @ngc7331
src/main/scala/xiangshan/frontend/ifu @ngc7331 @my-mayfly
src/main/scala/xiangshan/frontend/bpu @eastonman
src/main/scala/xiangshan/frontend/Frontend.scala @eastonman
src/main/scala/xiangshan/frontend/FrontendBundle.scala @eastonman
src/main/scala/xiangshan/frontend/IBuffer.scala @eastonman
src/main/scala/xiangshan/frontend/NewFtq.scala @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @cz4e @bosscharlie @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @bosscharlie @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @cz4e @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ @Ivyfeather
src/main/scala/xiangshan/XSTile.scala @linjuanZ @Ivyfeather

coupledL2/ @linjuanZ @Ivyfeather
huancun/ @linjuanZ @Ivyfeather

src/main/scala/top/ @Tang-Haojin
