Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @ngc7331, @eastonman, @linjuanZ, @happy-lx, @bosscharlie, @good-circle, @cebarobot, @Lemover, @Maxpicca-Li, @cz4e, @weidingliu, @Ivyfeather

FuConfig: split dataBits into destDataBits and srcDataBits for distinguish input and output data width
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/FuncUnit.scala
  src/main/scala/xiangshan/backend/fu/fpu/IntFPToVec.scala
  src/main/scala/xiangshan/backend/fu/wrapper/DivUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/JumpUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/MulUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VCVT.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFDivSqrt.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFMA.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIAluFix.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIDiv.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIMacU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIPU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VPPU.scala
Owners: none

VPU: new vcompress to fit v0&vl split; fix vfredsum/min/max
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
Owners: none

DispatchQueue: replace numEnq with numNeedAlloc for fix timing
  src/main/scala/xiangshan/backend/dispatch/DispatchQueue.scala
Owners: none

FuConfig: split dataBits into destDataBits and srcDataBits for distinguish input and output data width
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/FuncUnit.scala
  src/main/scala/xiangshan/backend/fu/fpu/IntFPToVec.scala
  src/main/scala/xiangshan/backend/fu/wrapper/DivUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/JumpUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/MulUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VCVT.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFDivSqrt.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFMA.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIAluFix.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIDiv.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIMacU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VIPU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VPPU.scala
Owners: none

ExeUnit: in1toN in.ready not dependent on acceptVec
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
Owners: none

VPU: new vcompress to fit v0&vl split; fix vfredsum/min/max (#3053)
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
Owners: none

LSQ: refactor vector load/store commit judging logic to fix X in vcs (#3048)
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAR.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/lsqueue/VirtualLoadQueue.scala
Owners: @cz4e, @good-circle, @linjuanZ

dcache: fix error valid initialization in RegNext
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
Owners: @happy-lx, @bosscharlie, @linjuanZ

vfalu: Use oldVd as input to mgu in last Uop for vfred inst
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
Owners: none

ci: use faster bbl-based SMP linux 4.18.0 (#3049)
  .github/workflows/emu.yml
  scripts/xiangshan.py
Owners: none

vset: fix old vl read for vsetvl and vsetvli instructions
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VSet.scala
Owners: none

MMU: LLPTW should report pf when pte is not leaf
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
Owners: @good-circle, @cebarobot, @Lemover

IssueBlockParams: check the type of read operands when generating the WB waking up ports
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
Owners: none

Dispatch2IqImp: generate busytable read ports based on the actual number of read operands required
  src/main/scala/xiangshan/backend/issue/Dispatch2Iq.scala
Owners: none

Revert "LSQ: optimize static clock gating coverage (#3023)"
  src/main/scala/xiangshan/mem/lsqueue/FreeList.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadExceptionBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueData.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAR.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueueData.scala
  src/main/scala/xiangshan/mem/lsqueue/UncacheBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/VirtualLoadQueue.scala
Owners: @cz4e, @good-circle, @linjuanZ

Backend fixtiming: fix rab/exuwb/wbtorob timing
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/datapath/VldMergeUnit.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/rob/Rab.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

IssueQueueMemAddrImp: only wen signals for data types that load IQ will write back can be sent out
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
Owners: none

IssueQueue: when src0-2 read vector reg #0, transfer to src3 to read v0
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
Owners: none

refactor: add scalafmt
  .scalafmt.conf
  build.sc
Owners: none

refactor: add format checking to CI
  .github/workflows/emu.yml
  Makefile
  scripts/xiangshan.py
Owners: none

DCache: Move L2 refill error signal to refill_info
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Owners: @happy-lx, @bosscharlie, @linjuanZ

MISC: skip CI for commits that do not modify core sources.
  .github/filters.yaml
  .github/workflows/emu.yml
Owners: none

MMU: LLPTW should report PF when pte is not leaf (#3059)
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
Owners: @good-circle, @cebarobot, @Lemover

refactor: check format on every push
  .github/workflows/emu.yml
  .github/workflows/format.yml
  scripts/xiangshan.py
Owners: none

VPU: fix vfreduction bug; remove redundant logic for scalar computation in VPU
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/fu/vector/VecPipedFuncUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
Owners: none

Backend fixtiming: fix rab/exuwb/wbtorob timing (#3032)
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/datapath/BypassNetwork.scala
  src/main/scala/xiangshan/backend/datapath/VldMergeUnit.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/exu/ExeUnitParams.scala
  src/main/scala/xiangshan/backend/rob/Rab.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

VirtualLoadQueue: remove useless logic
  src/main/scala/xiangshan/mem/lsqueue/VirtualLoadQueue.scala
Owners: @cz4e, @good-circle, @linjuanZ

Revert "LSQ: optimize static clock gating coverage (#3023)" (#3055)
  src/main/scala/xiangshan/mem/lsqueue/FreeList.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadExceptionBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueData.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAR.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueueData.scala
  src/main/scala/xiangshan/mem/lsqueue/UncacheBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/VirtualLoadQueue.scala
Owners: @cz4e, @good-circle, @linjuanZ

MISC: skip CI for commits that do not modify core sources. (#3064)
  .github/filters.yaml
  .github/workflows/emu.yml
Owners: none

Dispatch2IqImp: generate busytable read ports based on the actual number of read operands required
  src/main/scala/xiangshan/backend/issue/Dispatch2Iq.scala
Owners: none

IssueBlockParams: check the type of read operands when generating the WB waking up ports
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
Owners: none

IssueQueueMemAddrImp: only wen signals for data types that load IQ will write back can be sent out
  src/main/scala/xiangshan/backend/issue/IssueBlockParams.scala
  src/main/scala/xiangshan/backend/issue/IssueQueue.scala
Owners: none

vfalu: Use oldVd as input to mgu in last Uop for vfred inst (#3056)
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
Owners: none

vset: fix old vl read for vsetvl and vsetvli instructions (#3058)
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
  src/main/scala/xiangshan/backend/fu/FuConfig.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VSet.scala
Owners: none

VPU: fix vfreduction bug; remove redundant logic for scalar compute (#3065)
  src/main/scala/xiangshan/backend/exu/ExeUnit.scala
  src/main/scala/xiangshan/backend/fu/vector/VecPipedFuncUnit.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VFALU.scala
Owners: none

StoreQueue: fix X of when write StoreBuffer
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Owners: @cz4e, @good-circle, @linjuanZ

ci: do not run ci if only images are changed
  .github/filters.yaml
Owners: none

ci: do not run ci if only images are changed (#3067)
  .github/filters.yaml
Owners: none

MISC: turn to use issue form to avoid improper filling
  .github/ISSUE_TEMPLATE/1-bug_report.md
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.md
  .github/ISSUE_TEMPLATE/2-feature_request.yaml
  .github/ISSUE_TEMPLATE/3-problem.md
  .github/ISSUE_TEMPLATE/3-problem.yaml
  .github/ISSUE_TEMPLATE/4-other_question.md
  .github/ISSUE_TEMPLATE/4-other_question.yml
Owners: none

VirtualLoadQueue: remove useless logic (#3066)
  src/main/scala/xiangshan/mem/lsqueue/VirtualLoadQueue.scala
Owners: @cz4e, @good-circle, @linjuanZ

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache @ngc7331
src/main/scala/xiangshan/frontend/IFU.scala @ngc7331
src/main/scala/xiangshan/frontend/BPU.scala @eastonman
src/main/scala/xiangshan/frontend/Composer.scala @eastonman
src/main/scala/xiangshan/frontend/FauFTB.scala @eastonman
src/main/scala/xiangshan/frontend/Frontend.scala @eastonman
src/main/scala/xiangshan/frontend/FrontendBundle.scala @eastonman
src/main/scala/xiangshan/frontend/FTB.scala @eastonman
src/main/scala/xiangshan/frontend/IBuffer.scala @eastonman
src/main/scala/xiangshan/frontend/ITTAGE.scala @eastonman
src/main/scala/xiangshan/frontend/newRAS.scala @eastonman
src/main/scala/xiangshan/frontend/SC.scala @eastonman
src/main/scala/xiangshan/frontend/Tage.scala @eastonman
src/main/scala/xiangshan/frontend/WrBypass.scala @eastonman
src/main/scala/xiangshan/frontend/NewFtq.scala @Gao-Zeyu
src/main/scala/xiangshan/frontend/PreDecode.scala @ngc7331

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @happy-lx @bosscharlie @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @Lemover
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @bosscharlie @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @cz4e @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @cz4e @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @cz4e @happy-lx @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ @Ivyfeather
src/main/scala/xiangshan/XSTile.scala @linjuanZ @Ivyfeather

coupledL2/ @linjuanZ @Ivyfeather
huancun/ @linjuanZ @Ivyfeather
