Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

fix(abtb): hold sram read to prevent x-state
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtbBank.scala
Owners: @eastonman, @Gao-Zeyu

Revert "timing(PTW): remove SRAM blocks with shallow depth"
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
Owners: @good-circle, @cebarobot, @linjuanZ

perf: add perfevent in L2, update Paramters
  src/main/scala/xiangshan/Parameters.scala
Owners: none

fix(L1TLB): ignore addr when hfence.vvma or sfence.vma when v=1 (#5114)
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
Owners: @good-circle, @cebarobot, @linjuanZ

fix(abtb): fix condition of writing new entry to abtb
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(abtb): hold sram read to prevent x-state (#5153)
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtbBank.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): hold sram read result in case Bpu stall
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(tracertl): fix exe-driven compile error by trace-fastsim
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Owners: @linjuanZ

fix(mbtb): hold sram read result in case Bpu stall (#5158)
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(Tage): fix base table next set idx logic
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): fix next set idx
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
Owners: @eastonman, @Gao-Zeyu

fix(tracertl): ignore trace mem/branch type check
  src/main/scala/xiangshan/backend/fu/wrapper/BranchUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Owners: @good-circle, @linjuanZ

fix(tracertl): add valid check to targetFault
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/tracertl/TracePredictChecker.scala
Owners: @Gao-Zeyu

feat(abtb): use abtb prediction for s1
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

perf(ubtb): use fast train by default
  src/main/scala/xiangshan/frontend/bpu/ubtb/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

feat(ubtb): remove takenCnt
  src/main/scala/xiangshan/frontend/bpu/ubtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Owners: @eastonman, @Gao-Zeyu

feat(Frontend): support hardware error exception (#4770)
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/ibuffer/Bundles.scala
  src/main/scala/xiangshan/frontend/ibuffer/IBuffer.scala
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
  src/main/scala/xiangshan/frontend/ifu/IfuUncacheUnit.scala
  src/main/scala/xiangshan/frontend/instruncache/Bundles.scala
  src/main/scala/xiangshan/frontend/instruncache/InstrUncacheEntry.scala
Owners: @Gao-Zeyu, @ngc7331, @my-mayfly

timing(VSplit): optimize ICG timing
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

timing(PTW): remove SRAM blocks with shallow depth
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
Owners: @good-circle, @cebarobot, @linjuanZ

feat(uncore): bak for uncore
  Makefile
  README_run_uncore
  run_xs
  src/main/scala/system/Pbus2.scala
  src/main/scala/system/imsicxbar.scala
  src/main/scala/system/pbus_v0_makeio.sv
  tmp.scala
  uncore.yml
Owners: none

fix(VsegmentUnit): fix latch of paddr when element is unalign
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

perf(ubtb): use fast train by default (#5145)
  src/main/scala/xiangshan/frontend/bpu/ubtb/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

fix(Tage): fix base table next set idx logic
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): fix next set idx
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
Owners: @eastonman, @Gao-Zeyu

feat(ubtb): remove takenCnt & valid field (#5157)
  src/main/scala/xiangshan/frontend/bpu/ubtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Owners: @eastonman, @Gao-Zeyu

refactor(mbtb): add InternalBank wrapper
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbInternalBank.scala
Owners: @eastonman, @Gao-Zeyu

refactor(mbtb): add AlignBank wrapper
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
Owners: @eastonman, @Gao-Zeyu

refactor(mbtb): move prediction logic to AlignBank
  src/main/scala/xiangshan/frontend/bpu/mbtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): write prior to flush
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbInternalBank.scala
Owners: @eastonman, @Gao-Zeyu

refactor(mbtb): move multi-hit detection & flush logic to AlignBank
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbInternalBank.scala
Owners: @eastonman, @Gao-Zeyu

refactor(mbtb): rewrite replacer & move to AlignBank
  src/main/scala/xiangshan/frontend/bpu/mbtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbReplacer.scala
Owners: @eastonman, @Gao-Zeyu

refactor(mbtb): rewrite result/meta interface
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): do not assert if not valid
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
Owners: @eastonman, @Gao-Zeyu

fix(mbtb): reformat
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

fix(ICache): do bpuFlush even if wayLookup is empty
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
Owners: @ngc7331, @Gao-Zeyu

perf(DCache,LDU):add perfEvent in L1D
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/cache/dcache/storepipe/StorePipe.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Owners: @linjuanZ, @good-circle

fix(sms): range judge needs to be inverted
  src/main/scala/xiangshan/mem/prefetch/SMSPrefetcher.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(berti): range judge needs to be inverted
  src/main/scala/xiangshan/mem/prefetch/Berti.scala
Owners: @happy-lx, @Maxpicca-Li, @linjuanZ

fix(mbtb): move t1_writeEntry generation to alignBank
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
Owners: @eastonman, @Gao-Zeyu

fix(DCache): L1D read/write exclude prefetch
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/cache/dcache/storepipe/StorePipe.scala
Owners: @linjuanZ

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin
