Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin

fix(makefile): align firtool options
  Makefile
Owners: none

perf: add perfevent in L2, update Paramters
  src/main/scala/xiangshan/Parameters.scala
Owners: none

README: fix a typo (#5193)
  README.md
Owners: none

fix(abtb): hold abtb output when bpu s1 not fire
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

chore(uncore): optimize uncore module, and add prefix uncore_
  src/main/scala/system/Pbus2.scala
  src/main/scala/system/aplic_top.scala
  src/main/scala/system/uncore_top.scala
Owners: none

fix(makefile): add verilog target
  Makefile
Owners: none

feat(ubtb): add pmu, align to GEM5
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Owners: @eastonman, @Gao-Zeyu

build: add make init-force for reliable checkout
  .github/workflows/emu.yml
  .github/workflows/nightly.yml
  .github/workflows/perf-template.yml
  .github/workflows/release.yml
  Makefile
Owners: none

build: improve the usage of --force flag
  Makefile
Owners: none

feat(Bpu): use DecoupledIO to backpressure resolveQueue
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/FallThroughPredictor.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/ras/Ras.scala
  src/main/scala/xiangshan/frontend/bpu/sc/Sc.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Owners: @Gao-Zeyu, @eastonman

feat(commit): limit BP train stall counts in addition to distance between BP and IF
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
Owners: @Yan-Muzi, @Gao-Zeyu

feat(resolve): change resolve queue io to decoupled and drop entries that can not be enqueued
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueue.scala
Owners: @Yan-Muzi, @Gao-Zeyu

submodule(CoupledL2): bump CoupledL2 (#5190)
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/decode/DecodeStage.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRCustom.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/mem/prefetch/BasePrefecher.scala
  src/main/scala/xiangshan/package.scala
Owners: @Gao-Zeyu, @happy-lx, @Maxpicca-Li, @linjuanZ

fix(ittage): select lowest-index branch when multiple-train to avoid assertion (#5184)
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
Owners: @eastonman, @Gao-Zeyu

fix(tage): fix tage performance
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/SaturateCounter.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageTable.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

fix(resolve): flush branches that are not flushed by backend redirect
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueue.scala
Owners: @Yan-Muzi, @Gao-Zeyu

chore(make): delete out folder when `make clean`
  Makefile
Owners: none

chore(make): delete out folder when `make clean`
  Makefile
Owners: none

feat(frontend): remove outdated checks
  src/main/scala/xiangshan/frontend/Frontend.scala
Owners: @Gao-Zeyu

timing(TLB): use more relaxed conditions to prevent refill
  src/main/scala/xiangshan/cache/mmu/TLB.scala
Owners: @good-circle, @cebarobot, @linjuanZ

timing(StoreUnit): adjust misaligned replay logic
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Owners: @good-circle, @linjuanZ

timing(VSplit): decoupling the valid for vsta and vstd
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

perf(pf): add berti prefetch (#5049)
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/CSRCustom.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/dcache/meta/AsynchronousMetaArray.scala
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
  src/main/scala/xiangshan/mem/Bundles.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/pipeline/HybridUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/prefetch/BasePrefecher.scala
  src/main/scala/xiangshan/mem/prefetch/Berti.scala
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchComponent.scala
  src/main/scala/xiangshan/mem/prefetch/L1PrefetchInterface.scala
  src/main/scala/xiangshan/mem/prefetch/L1StridePrefetcher.scala
  src/main/scala/xiangshan/mem/prefetch/PrefetcherWrapper.scala
  src/main/scala/xiangshan/mem/prefetch/SMSPrefetcher.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @happy-lx, @Maxpicca-Li

feat(Bpu): use DecoupledIO to backpressure resolveQueue
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

fix(Tage): fix tage tagged table performance
  src/main/scala/xiangshan/frontend/bpu/tage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

feat(utage): add mini Tage predictor as an auxiliary predictor
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

feat(utage): add baseTable and perfCounter
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/CompareMatrix.scala
  src/main/scala/xiangshan/frontend/bpu/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/utage/BaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

feat(utage): draft test utage
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

feat(utage): utage connect with abtb and ubtb
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/utage/BaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
Owners: @eastonman, @Gao-Zeyu

feat(utage): draft test 6-12-replace
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

feat(utage): test utage
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
Owners: @eastonman, @Gao-Zeyu

feat(utage): draft utage test
  src/main/scala/xiangshan/frontend/bpu/SaturateCounter.scala
  src/main/scala/xiangshan/frontend/bpu/WriteBuffer.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Parameters.scala
Owners: @eastonman, @Gao-Zeyu

feat(utage): draft utage
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/utage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTage.scala
  src/main/scala/xiangshan/frontend/bpu/utage/MicroTageTable.scala
Owners: @eastonman, @Gao-Zeyu

fix(resolve): width of `bpTrainStallCnt`
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
Owners: @Yan-Muzi, @Gao-Zeyu

timing(ICache): drop holdRead of Data/MetaArray
  src/main/scala/xiangshan/frontend/icache/ICacheDataArray.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
Owners: @ngc7331, @Gao-Zeyu

timing(StoreUnit): adjust misaligned replay logic
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Owners: @good-circle, @linjuanZ

timing(VSplit): decoupling the valid for vsta and vstd
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Owners: @weidingliu, @good-circle, @linjuanZ

timing(TLB): use more relaxed conditions to prevent refill
  src/main/scala/xiangshan/cache/mmu/TLB.scala
Owners: @good-circle, @cebarobot, @linjuanZ

fix(hardwareError): disable hardware error generated by loadunit ecc
  src/main/scala/xiangshan/Parameters.scala
Owners: none

fix(tage): table temporarily use 2-port SRAM
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageTable.scala
Owners: @eastonman, @Gao-Zeyu
