Repository OpenXiangShan/XiangShan, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gao-Zeyu, @eastonman, @Yan-Muzi, @ngc7331, @my-mayfly, @linjuanZ, @good-circle, @cebarobot, @Maxpicca-Li, @weidingliu, @happy-lx, @Tang-Haojin, @yaozhicheng, @forever043, @SFangYy

.github/CODEOWNERS:

src/main/scala/xiangshan/frontend/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/bpu/ @eastonman @Gao-Zeyu
src/main/scala/xiangshan/frontend/ftq/ @Yan-Muzi @Gao-Zeyu
src/main/scala/xiangshan/frontend/ibuffer/ @Gao-Zeyu
src/main/scala/xiangshan/frontend/icache/ @ngc7331 @Gao-Zeyu
src/main/scala/xiangshan/frontend/ifu/ @ngc7331 @my-mayfly @Gao-Zeyu
src/main/scala/xiangshan/frontend/instruncache/ @ngc7331 @Gao-Zeyu

src/main/scala/xiangshan/cache/ @linjuanZ
src/main/scala/xiangshan/cache/dcache/ @linjuanZ
src/main/scala/xiangshan/cache/mmu/ @good-circle @cebarobot @linjuanZ
src/main/scala/xiangshan/cache/wpu/ @Maxpicca-Li @linjuanZ

src/main/scala/xiangshan/mem/ @linjuanZ
src/main/scala/xiangshan/mem/lsqueue/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/mdp/ @weidingliu @linjuanZ
src/main/scala/xiangshan/mem/pipeline/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/prefetch/ @happy-lx @Maxpicca-Li @linjuanZ
src/main/scala/xiangshan/mem/sbuffer/ @good-circle @linjuanZ
src/main/scala/xiangshan/mem/vector/ @weidingliu @good-circle @linjuanZ

src/main/scala/xiangshan/L2Top.scala @linjuanZ
src/main/scala/xiangshan/XSTile.scala @linjuanZ

coupledL2/ @linjuanZ
huancun/ @linjuanZ

src/main/scala/top/ @Tang-Haojin

scripts/pdb-run.py @yaozhicheng @forever043 @SFangYy @Tang-Haojin 
scripts/xspdb/ @yaozhicheng @forever043 @SFangYy @Tang-Haojin

refactor(Frontend): remove itlb/pmp port from ifu
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Owners: @Gao-Zeyu, @ngc7331, @my-mayfly

feat(tracertl): seperate TraceParam and gen cheader for difftest
  Makefile
  src/main/scala/device/AXI4Memory.scala
  src/main/scala/top/ArgParser.scala
  src/main/scala/top/Configs.scala
  src/main/scala/top/Top.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceAXISPackage.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceAXISUnpackage.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceBundle.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceCollector.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceIbufferCollector.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceParameters.scala
  src/main/scala/xiangshan/frontend/tracertl/TracePreDecoder.scala
  src/main/scala/xiangshan/frontend/tracertl/TracePredictChecker.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceRTL.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceReader.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceReaderFPGA.scala
  src/test/scala/top/SimTop.scala
  src/test/scala/tracertl/TraceAXISTop.scala
Owners: @Tang-Haojin, @Gao-Zeyu

feat(tracertl): dump tracertl param to c-header for trace_reader
  src/main/scala/top/Top.scala
  src/main/scala/xiangshan/frontend/tracertl/TraceParameters.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin, @Gao-Zeyu

refactor: remove redundant code
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
Owners: @good-circle, @cebarobot, @linjuanZ

feat(rvv):remove dependency on oldvd when ldest =/= dest
  src/main/scala/xiangshan/backend/decode/DecodeUnit.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnitComp.scala
Owners: none

fix(commitQueue): drop commits when full
  src/main/scala/xiangshan/frontend/ftq/CommitQueue.scala
Owners: @Yan-Muzi, @Gao-Zeyu

refactor(bpu): use S1/S3PredictionSource to calculate pmus
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
Owners: @eastonman, @Gao-Zeyu

doc(readme): add usage info of galaxsim simu
  README.md
Owners: none

feat(ICache): remove mainPipe pmp check
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/ICacheImp.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
Owners: @Gao-Zeyu, @ngc7331

doc(readme): fix typo and style
  README.md
Owners: none

fix(CSR, NMI): fix the logic for gating `nmi`
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/TrapHandleModule.scala
Owners: none

feat(top): adapt difftest interfaces for FPGA difftest
  src/main/scala/top/Top.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin

feat(difftest): replace ArchReg and Writeback with PhyRegState
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/regfile/Regfile.scala
  src/main/scala/xiangshan/backend/rename/RenameTable.scala
Owners: none

fix(difftest): disable unchecked RefillEvent and remove idtfr
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

fix(CSR, NMI): fix the logic for gating `nmi`
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
  src/main/scala/xiangshan/backend/fu/NewCSR/TrapHandleModule.scala
Owners: none

feat(phr): change phr hash logic
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/IttageTable.scala
Owners: @eastonman, @Gao-Zeyu

fix(resolve): width of `bpTrainStallCnt`
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/FtqParameters.scala
Owners: @Yan-Muzi, @Gao-Zeyu

feat(phr): change folded diff counter to assert
  src/main/scala/xiangshan/frontend/bpu/history/phr/Phr.scala
Owners: @eastonman, @Gao-Zeyu

ci: avoid shallow clone when checkout
  .github/workflows/emu.yml
  .github/workflows/nightly.yml
  .github/workflows/perf-template.yml
  .github/workflows/release.yml
Owners: none

fix(resolve): flush branches that are not flushed by backend redirect (#5149)
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueue.scala
Owners: @Yan-Muzi, @Gao-Zeyu

timing(ICache): drop holdRead of Data/MetaArray
  src/main/scala/xiangshan/frontend/icache/ICacheDataArray.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
Owners: @ngc7331, @Gao-Zeyu

fix(ICache): do not update reg(0) if !doubleline
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
Owners: @ngc7331, @Gao-Zeyu

test(refill-check): bump difftest & adapt masked refill check
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

test(refill-check): adapt masked refill check
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

refactor(ICache): bond MetaInfo together & improve register gating
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/Helpers.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
Owners: @ngc7331, @Gao-Zeyu

refactor(ICache): rewrite interleaved metaArray
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/Helpers.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaInterleavedBank.scala
  src/main/scala/xiangshan/frontend/icache/Parameters.scala
Owners: @eastonman, @Gao-Zeyu, @Yan-Muzi, @ngc7331

refactor(ICache): rewrite metaArray-prefetchPipe interface
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
Owners: @ngc7331, @Gao-Zeyu

ci: avoid shallow clone when checkout
  .github/workflows/emu.yml
  .github/workflows/nightly.yml
  .github/workflows/perf-template.yml
Owners: none

fix(tage): fix tage performance (#5156)
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/SaturateCounter.scala
  src/main/scala/xiangshan/frontend/bpu/Types.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageTable.scala
Owners: @Tang-Haojin, @eastonman, @Gao-Zeyu

refactor(VecRotate): add VecRotate util
  .scalafmt.conf
  src/main/scala/utils/VecRotate.scala
  src/main/scala/xiangshan/frontend/bpu/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtbAlignBank.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Helpers.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
Owners: @eastonman, @Gao-Zeyu

feat(tage): support ChiselDB
  src/main/scala/xiangshan/frontend/bpu/tage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Parameters.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Owners: @eastonman, @Gao-Zeyu

fix(abtb): hold abtb output when bpu s1 not fire (#5197)
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Owners: @eastonman, @Gao-Zeyu

feat(top): adapt difftest interfaces for FPGA difftest
  src/main/scala/top/Top.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin

feat(difftest): replace ArchReg and Writeback with PhyRegState
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/regfile/Regfile.scala
  src/main/scala/xiangshan/backend/rename/RenameTable.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(difftest): add mask for RefillEvent and remove idtfr
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

feat(top): adapt difftest interfaces for FPGA difftest
  src/main/scala/top/Top.scala
  src/test/scala/top/SimTop.scala
Owners: @Tang-Haojin

feat(difftest): replace ArchReg and Writeback with PhyRegState
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/Region.scala
  src/main/scala/xiangshan/backend/datapath/DataPath.scala
  src/main/scala/xiangshan/backend/datapath/WbArbiter.scala
  src/main/scala/xiangshan/backend/regfile/Regfile.scala
  src/main/scala/xiangshan/backend/rename/RenameTable.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Owners: none

fix(difftest): add mask for RefillEvent and remove idtfr
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Owners: @linjuanZ, @good-circle, @cebarobot, @ngc7331, @Gao-Zeyu

fix(MDP): fix the training PC for MDP
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
Owners: @good-circle, @linjuanZ

fix(MDP): fixed issue where the array was not be read data during training
  src/main/scala/xiangshan/mem/mdp/StoreSet.scala
Owners: @weidingliu, @linjuanZ
