Repository OpenXiangShan/XiangShan, pull requests merged in 2023-09, with the labels that each got.

#2203 Jal target fix
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/PreDecode.scala
Labels: bug

#2280 perf: add cpi and topdown rolling db
  Makefile
  src/main/scala/top/ArgParser.scala
  src/main/scala/xiangshan/backend/dispatch/Dispatch.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Labels: tools

#2273 FTB(timing): fix s2 target & fallthrough address
  src/main/scala/xiangshan/frontend/FTB.scala
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
Labels: timing

#2282 ICache: shrink to 64K
  src/main/scala/xiangshan/frontend/icache/ICache.scala
Labels: timing

#2277 icache: change itlb port to no-blocked and new fdip
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheBundle.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: timing

#2288 sms: fix evict condition
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/mem/prefetch/SMSPrefetcher.scala
Labels: enhancement

#2294 CSR: mstatus bits 0 and 4 are read-only zeros
  src/main/scala/xiangshan/backend/fu/CSR.scala
Labels: bug

#2296 CSR: fix the writable mask of `mie`
  src/main/scala/xiangshan/backend/fu/CSR.scala
Labels: bug, fuzz

#2291 Frontend: timing optimization
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/PreDecode.scala
Labels: timing

#2276 ITTAGE: use ITTAGE result even when not confident
  src/main/scala/xiangshan/frontend/ITTAGE.scala
Labels: enhancement

#2300 ftq: fix predecode redirect use RAS condition
  src/main/scala/xiangshan/frontend/NewFtq.scala
Labels: bug

#2299 add redirect latency stats, and use histogram for some old stats
  src/main/scala/xiangshan/frontend/BPU.scala
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
Labels: bug, enhancement

#2292 New RAS design
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/BPU.scala
  src/main/scala/xiangshan/frontend/FTB.scala
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
  src/main/scala/xiangshan/frontend/RAS.scala
  src/main/scala/xiangshan/frontend/newRAS.scala
Labels: enhancement

#2324 BPU: move target comparision before takenMask selection
  src/main/scala/xiangshan/frontend/BPU.scala
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
Labels: do not merge, timing

#2340 add bpu update latency stats, add overflow/underflow and total sample…
  src/main/scala/utils/PerfCounterUtils.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
Labels: tools

#2342 TLB: Pass hartId through IO
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/cache/mmu/L2TLB.scala
  src/main/scala/xiangshan/cache/mmu/MMUBundle.scala
  src/main/scala/xiangshan/cache/mmu/TLB.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
Labels: do not merge
