Repository OpenXiangShan/XiangShan, pull requests merged in 2023-07, with the labels that each got.

#2191 CtrlBlock: implement rename snapshot
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
  src/main/scala/xiangshan/backend/rename/RenameTable.scala
  src/main/scala/xiangshan/backend/rename/freelist/BaseFreeList.scala
  src/main/scala/xiangshan/backend/rename/freelist/MEFreeList.scala
  src/main/scala/xiangshan/backend/rename/freelist/StdFreeList.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Labels: enhancement

#2186 Predecode: fix ebreak predecoded as jalr
  src/main/scala/xiangshan/backend/decode/isa/predecode/predecode.scala
Labels: bug

#2194 Lsq: fix load exception buffer enqueue condition
  src/main/scala/xiangshan/mem/lsqueue/LoadExceptionBuffer.scala
Labels: bug

#2198 FTQ: fix debug cfi check condition
  src/main/scala/xiangshan/frontend/NewFtq.scala
Labels: bug

#2202 Sbuffer: fix input logic
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
Labels: enhancement

#2195 Memblock: Optimize MemBlock IO
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/XSTile.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: timing

#2180 Memblock: Add load/store 128 bits datapath
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/data/BankedDataArray.scala
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/mem/MemCommon.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueData.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueueData.scala
  src/main/scala/xiangshan/mem/lsqueue/UncacheBuffer.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
Labels: enhancement
