Repository OpenXiangShan/XiangShan, pull requests merged in 2023-08, with the labels that each got.

#2197 vector: fix vred instruction when mask is set
  src/main/scala/xiangshan/backend/fu/wrapper/VIPU.scala
  src/main/scala/xiangshan/backend/fu/wrapper/VPPU.scala
Labels: bug

#2228 utils: support performance rolling tool and corresponding scripts
  scripts/rollingplot.py
  src/main/scala/utils/PerfCounterUtils.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Labels: enhancement

#2229 perf: add counter
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: enhancement

#2242 Increase L3-clientDir ways
  src/main/scala/top/Configs.scala
Labels: enhancement

#2250 RAS: fix uninitialized top and write bypass entry
  src/main/scala/xiangshan/frontend/RAS.scala
Labels: enhancement

#2249 mq: remove usage of raw_data
  .github/workflows/check_verilog.py
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Labels: enhancement

#2252 stu: fix stu feedback slow logic
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Labels: refactor

#2227 FTB(timing): delay replacer update on read
  src/main/scala/xiangshan/frontend/FTB.scala
Labels: timing
