Repository OpenXiangShan/XiangShan, pull requests merged in 2023-10, with the labels that each got.

#2329 ftq: add ftq redirect read ahead
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
Labels: enhancement

#2369 mainpipe: fix probe tob
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug

#2320 fdip: change instruction prefetch position to L2
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheBundle.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: enhancement

#2375 icache: reduce 1 cycle in mshr
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Labels: enhancement

#2377 RAS: reduce entry to improve timing
  src/main/scala/xiangshan/Parameters.scala
Labels: do not merge

#2384 Add a new AXI4UserYanker node to fix 4 core bug
  src/main/scala/system/SoC.scala
Labels: bug, good first issue

#2376 fdip: use a simple sram to replace the prefetch meta with bank
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheBankedArray.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: enhancement, timing, area

#2387 LDU: remove s3 nuke check logic
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: bug

#2388 LDU, LQ:fix wpu wakeup
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: bug

#2390 XSTile partition
  src/main/scala/top/Configs.scala
  src/main/scala/top/Top.scala
  src/main/scala/xiangshan/L2Top.scala
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/XSDts.scala
  src/main/scala/xiangshan/XSTile.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
Labels: refactor

#2374 ci: add ci for chisel6
  .github/workflows/emu.yml
  build.sc
  scripts/xiangshan.py
  src/main/scala/top/Generator.scala
  src/main/scala/xiangshan/frontend/IFU.scala
Labels: tools

#2393 DCache: reduce dcache from 128KB to 64KB for better area
  src/main/scala/top/Configs.scala
Labels: area

#2398 Makefile: download firtool if it is not in PATH
  .github/workflows/emu.yml
  Makefile
  scripts/xiangshan.py
Labels: tools

#2405 sms: fix alias bug
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/mem/prefetch/SMSPrefetcher.scala
Labels: bug

#2410 bpu: use ready-valid handshake to avoid X propagation during power-on reset
  src/main/scala/xiangshan/frontend/Tage.scala
Labels: enhancement

#2409 bpu: reduce Tage SRAM bank amount from 8 to 4
  src/main/scala/xiangshan/frontend/Tage.scala
Labels: area

#2395 fdip: limit prefetchPtr range in ftq
  src/main/scala/utils/PerfCounterUtils.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: enhancement

#2413 util: add sram size collect script
  scripts/sram_size_collect.py
Labels: tools

#2399 RAS: fix counter size
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/newRAS.scala
Labels: area

#2423 refactor directory hierarchy for two chisel versions
  README.md
  build.sc
  readme.zh-cn.md
  src/chisel/main/scala/top/XiangShanStage.scala
  src/chisel/main/scala/xiangshan/transforms/Helpers.scala
  src/chisel/main/scala/xiangshan/transforms/PrintControl.scala
  src/chisel/main/scala/xiangshan/transforms/PrintModuleName.scala
  src/chisel/main/scala/xiangshan/types.scala
  src/chisel/test/scala/xiangshan/types.scala
  src/chisel3/main/scala/top/XiangShanStage.scala
  src/chisel3/main/scala/xiangshan/transforms/PrintControl.scala
  src/chisel3/main/scala/xiangshan/transforms/PrintModuleName.scala
  src/chisel3/main/scala/xiangshan/types.scala
  src/chisel3/test/scala/xiangshan/types.scala
  src/main/scala/top/Generator.scala
  src/main/scala/xiangshan/transforms/PrintControl.scala
  src/test/scala/fu/IntDiv.scala
  src/test/scala/xiangshan/DecodeTest.scala
Labels: refactor

#2440 UncacheBuffer: fix mmio data writeback logic
  src/main/scala/xiangshan/mem/lsqueue/UncacheBuffer.scala
Labels: bug

#2437 sms: evict agt entry when dcache refill
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/mem/prefetch/SMSPrefetcher.scala
Labels: enhancement
