Repository OpenXiangShan/XiangShan, pull requests merged in 2023-11, with the labels that each got.

#2445 LDU: fix rar flush logic
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
  src/main/scala/xiangshan/mem/lsqueue/UncacheBuffer.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: bug

#2424 predecode: optimize frontend debug module size
  src/main/scala/utils/Trigger.scala
  src/main/scala/xiangshan/frontend/PreDecode.scala
Labels: do not merge, area

#2460 LQ: remove rawNuke
  src/main/scala/xiangshan/Bundle.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueRAW.scala
  src/main/scala/xiangshan/mem/lsqueue/UncacheBuffer.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: area

#2441 refactor: use banked IBuffer
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/IBuffer.scala
Labels: do not merge, area

#2473 PTW, MissQueue: Enlarge MSHR size for larger ptwfilter
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
Labels: bug

#2478 PMP: Write to pmpicfg should be ignored when locked
  src/main/scala/xiangshan/backend/fu/PMA.scala
  src/main/scala/xiangshan/backend/fu/PMP.scala
Labels: bug

#2482 PMA: lr should raise load access fault
  src/main/scala/xiangshan/backend/fu/PMA.scala
Labels: bug

#2483 hpm: fix selection logic and typo
  src/main/scala/utils/PerfCounterUtils.scala
  src/main/scala/xiangshan/Parameters.scala
  src/main/scala/xiangshan/backend/CtrlBlock.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
  src/main/scala/xiangshan/backend/fu/CSR.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
Labels: tools

#2493 ICache: split dataArray for physical synthesis
  src/main/scala/xiangshan/frontend/icache/ICache.scala
Labels: area

#2504 Uncache: fix flush.empty logic
  src/main/scala/xiangshan/cache/dcache/Uncache.scala
Labels: bug

#2505 Move one buffer in L1I - L2 path from L2Top to MemBlock
  src/main/scala/xiangshan/L2Top.scala
  src/main/scala/xiangshan/XSTile.scala
  src/main/scala/xiangshan/backend/MemBlock.scala
Labels: timing
