Repository OpenXiangShan/XiangShan, pull requests merged in 2024-08, with the labels that each got.

#3310 NewCSR: fix bug, shouldn't handle traping to other Mode anymore when hart traps to DebugMode
  src/main/scala/xiangshan/backend/fu/NewCSR/NewCSR.scala
Labels: do not merge

#3319 ICache: cancel (pre)fetch request if port1 is mmio
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: bug

#3329 IFU: fix mmio fsm for itlb handshake
  src/main/scala/xiangshan/frontend/IFU.scala
Labels: bug

#3354 Frontend: refactor exceptions to labels
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
  src/main/scala/xiangshan/frontend/IBuffer.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
  src/main/scala/xiangshan/frontend/icache/WayLookup.scala
Labels: refactor

#3372 IPrefetch: disable IPrefetchPipe s2 stage if CSR does not enable iprefetch
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: bug

#3396 Frontend: implement prefetch.i support (RVA23 Zicbop)
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
Labels: enhancement

#3413 ICacheMissUnit: wait for all beats even corrupt has already occurred
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Labels: bug
