Repository OpenXiangShan/XiangShan, pull requests merged in 2024-11, with the labels that each got.

#3812 fix(intr): set the sequence of interrupt in different mode
  src/main/scala/xiangshan/backend/fu/NewCSR/InterruptFilter.scala
Labels: cherry-pick needed

#3849 area(DCache): reduce 8 way to 4 way
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
Labels: area

#3560 area(MemBlock): remove redundant signals to optimise area
  src/main/scala/xiangshan/mem/lsqueue/LoadMisalignBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueReplay.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreMisalignBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
  src/main/scala/xiangshan/mem/vector/VSplit.scala
Labels: area

#3579 power(bpu): optimize CGE of bpu/predictors_io_update
  src/main/scala/xiangshan/frontend/BPU.scala
  src/main/scala/xiangshan/frontend/FTB.scala
  src/main/scala/xiangshan/frontend/FauFTB.scala
  src/main/scala/xiangshan/frontend/ITTAGE.scala
  src/main/scala/xiangshan/frontend/SC.scala
  src/main/scala/xiangshan/frontend/Tage.scala
  src/main/scala/xiangshan/frontend/newRAS.scala
Labels: power

#3896 fix(DM): enlarge master node addr width for standalone DM
  src/main/scala/device/standalone/StandAloneDebugModule.scala
  src/main/scala/device/standalone/StandAloneDevice.scala
Labels: cherry-pick needed

#3670 power(bpu): optimize CGE of bpu/previous_s2_*
  src/main/scala/xiangshan/frontend/BPU.scala
Labels: power

#3898 fix(dret): fix update of privstate in dretevent
  src/main/scala/xiangshan/backend/fu/NewCSR/CSREvents/DretEvent.scala
Labels: cherry-pick needed

#3894 fix(vnclip): use uimm instead of imm for vnclip_wi instructions
  src/main/scala/xiangshan/backend/decode/VecDecoder.scala
Labels: cherry-pick needed

#3908 timing(DCache): delay tag error to s3 instead of s2
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: timing

#3902 area(DCache ECC): combine ecc with tag/data
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/data/BankedDataArray.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/meta/TagArray.scala
Labels: area

#3903 area(TLB): remove duplicate copy for each read port
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
Labels: area
