Repository OpenXiangShan/XiangShan, pull requests merged in 2024-01, with the labels that each got.

#2609 ICache: split cacheline in mainPipe and dataArray
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheBundle.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
Labels: area

#2568 ibuffer: use bypass for better timing
  src/main/scala/xiangshan/frontend/IBuffer.scala
Labels: timing

#2632 ICache: fix ICacheMainPipe bug about fencei
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
Labels: bug

#2660 ICache: fix ICacheMainPipe bug about sfence
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
Labels: bug
