Repository OpenXiangShan/XiangShan, pull requests merged in 2025-08, with the labels that each got.

#4922 fix(ifu): fix IBuffer enqueue check for nc instructions.
  src/main/scala/xiangshan/frontend/IFU.scala
Labels: kmh-v2r2

#4918 refactor(LoadUnit): clean up stale code
  src/main/scala/xiangshan/XSCore.scala
  src/main/scala/xiangshan/backend/Backend.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: kmh-v3

#4906 feat(pdb): Add XSPdb, a GDB-like interactive debugger for XiangShan
  .github/CODEOWNERS
  Makefile
  README.md
  readme.zh-cn.md
  scripts/Makefile.pdb
  scripts/pdb-run.py
  scripts/xspdb/__init__.py
  scripts/xspdb/requirements.txt
  scripts/xspdb/xscmd/__init__.py
  scripts/xspdb/xscmd/cmd_difftest.py
  scripts/xspdb/xscmd/cmd_dut.py
  scripts/xspdb/xscmd/cmd_elf.py
  scripts/xspdb/xscmd/cmd_files.py
  scripts/xspdb/xscmd/cmd_flash.py
  scripts/xspdb/xscmd/cmd_info.py
  scripts/xspdb/xscmd/cmd_trap.py
  scripts/xspdb/xscmd/cmd_wave.py
  scripts/xspdb/xscmd/util.py
  scripts/xspdb/xspdb.py
Labels: module: tool

#4968 fix(Bpu): wait Sram reset to avoid x-state
  src/main/scala/xiangshan/frontend/bpu/Abstracts.scala
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/FallThroughPredictor.scala
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/ras/Ras.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Labels: module: frontend, topic: funtionality

#4960 misc(issue_template): update label names & fix typo
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yaml
  .github/ISSUE_TEMPLATE/3-problem.yaml
  .github/ISSUE_TEMPLATE/4-other_question.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: module: other

#4966 fix(LoadUnit): reaccess the data even if it is a fast replay
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: module: memory, topic: funtionality

#4939 feat(FTQ): Redirect will be written to the same entry if it is empty after being redirected
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
Labels: module: frontend, topic: funtionality

#4977 fix(ubtb): alloc entry for taken branch only
  src/main/scala/xiangshan/frontend/bpu/ubtb/MicroBtb.scala
Labels: module: frontend, topic: performance

#4988 feat(build): Update jar release name to KunminghuV3
  build.sc
Labels: module: tool
