Repository OpenXiangShan/XiangShan, pull requests merged in 2025-04, with the labels that each got.

#4480 fix(MainPipe): fix error valid generate logic
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug

#4383 fix(AXI4Memory): remove `AWLEN == 0` Check
  src/main/scala/device/AXI4Memory.scala
Labels: bug

#4461 refactor(ICache): follow new style guide
  .github/CODEOWNERS
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/InstrUncache.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
  src/main/scala/xiangshan/frontend/icache/Abstracts.scala
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/FIFO.scala
  src/main/scala/xiangshan/frontend/icache/Helpers.scala
  src/main/scala/xiangshan/frontend/icache/ICache.scala
  src/main/scala/xiangshan/frontend/icache/ICacheBundle.scala
  src/main/scala/xiangshan/frontend/icache/ICacheCtrlUnit.scala
  src/main/scala/xiangshan/frontend/icache/ICacheDataArray.scala
  src/main/scala/xiangshan/frontend/icache/ICacheImp.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMetaArray.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMshr.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheReplacer.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
  src/main/scala/xiangshan/frontend/icache/IPrefetch.scala
  src/main/scala/xiangshan/frontend/icache/Parameters.scala
  src/main/scala/xiangshan/frontend/icache/SRAMTemplateWithFixedWidth.scala
  src/main/scala/xiangshan/frontend/icache/Utils.scala
  src/main/scala/xiangshan/frontend/icache/WayLookup.scala
Labels: refactor

#4436 refactor(Ifu): follow new style guide
  .github/CODEOWNERS
  src/main/scala/xiangshan/frontend/Frontend.scala
  src/main/scala/xiangshan/frontend/FrontendBundle.scala
  src/main/scala/xiangshan/frontend/IFU.scala
  src/main/scala/xiangshan/frontend/InstrUncache.scala
  src/main/scala/xiangshan/frontend/NewFtq.scala
  src/main/scala/xiangshan/frontend/PreDecode.scala
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/ICacheCtrlUnit.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMissUnit.scala
  src/main/scala/xiangshan/frontend/ifu/Abstracts.scala
  src/main/scala/xiangshan/frontend/ifu/Bundles.scala
  src/main/scala/xiangshan/frontend/ifu/F3PreDecode.scala
  src/main/scala/xiangshan/frontend/ifu/FrontendTrigger.scala
  src/main/scala/xiangshan/frontend/ifu/Helpers.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
  src/main/scala/xiangshan/frontend/ifu/PreDecode.scala
  src/main/scala/xiangshan/frontend/ifu/PredChecker.scala
  src/main/scala/xiangshan/frontend/ifu/RvcExpander.scala
  src/test/scala/xiangshan/frontend/FrontendTrigger.scala
Labels: refactor

#4493 timing(StoreMisalignBuffer): fix misalign buffer enq timing
  src/main/scala/xiangshan/backend/rob/Rob.scala
  src/main/scala/xiangshan/mem/Bundles.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadMisalignBuffer.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreMisalignBuffer.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Labels: timing

#4573 fix(MainPipe): fix `s1_way_en` logic when pseudo tag error inject
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug

#4572 fix(MainPipe): fix error valid when Atomics and SBuffer request miss
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug

#4603 timing(LoadQueueUncache): adjust s1 enq and s2 enq valid generate logic
  src/main/scala/xiangshan/mem/lsqueue/LoadQueue.scala
Labels: timing

#4593 fix(VLSU): modifying vector misalign elemidx generation
  src/main/scala/xiangshan/mem/vector/VecCommon.scala
Labels: kmh-v2r2

#4611 fix(AXI4Memory): fix write request enqueue DRAMSim logic for AXI4Memory
  src/main/scala/device/AXI4Memory.scala
Labels: bug

#4610 fix : sync the signal before use for lowpower
  src/main/scala/top/XSNoCTop.scala
Labels: kmh-v2r2

#4621 build: add configuration for `CHIAddrWidth` and `enableL2Flush`
  src/main/resources/config/Default.yml
  src/main/scala/top/Configs.scala
  src/main/scala/top/YamlParser.scala
Labels: kmh-v2r2

#4618 fix(XSNocTop): sync low power state
  src/main/scala/top/XSNoCTop.scala
Labels: kmh-v2r2

#4629 fix(step): fix step for exception.
  src/main/scala/xiangshan/backend/dispatch/NewDispatch.scala
Labels: kmh-v2r2

#4638 feat(config): update FuzzConfig with KunminghuV2
  src/main/scala/top/Configs.scala
Labels: kmh-v2r2

#4590 fix(StoreQueue): fix misalign's Databuffer enq logic
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Labels: kmh-v2r2

#4628 fix: use a more sensible entry priority of uncacheBuffer
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/LoadQueueUncache.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Labels: kmh-v2r2

#4631 fix(StoreMisalignBuffer): fix misalign store enq but revoke logic
  src/main/scala/xiangshan/mem/lsqueue/StoreMisalignBuffer.scala
Labels: bug, kmh-v2r2

#4636 fix(LoadUnit): perfetch no longer generates nc access
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: kmh-v2r2
