Repository OpenXiangShan/XiangShan, pull requests merged in 2025-09, with the labels that each got.

#4996 fix(Bitmap): add first_s2xlate_fault init when LLPTW handle jmp_bitmap_check request
  src/main/scala/xiangshan/cache/mmu/PageTableWalker.scala
Labels: module: memory, topic: funtionality

#4995 feat(phr): add folded history output based on meta phrPtr
  src/main/scala/xiangshan/frontend/bpu/Bpu.scala
  src/main/scala/xiangshan/frontend/bpu/phr/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/phr/Phr.scala
Labels: module: frontend, topic: funtionality

#5002 ci(config): set EnableSramCtl by default for lowpower
  src/main/resources/config/Poweroff.yml
Labels: module: top

#5006 fix(Vsegment): fix address generation of misaligned split
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
Labels: module: memory, topic: funtionality

#5020 fix(Ittage): fix CI assertion failure
  src/main/scala/xiangshan/frontend/bpu/ittage/Ittage.scala
Labels: note: urgent, note: do not squash, module: frontend, topic: funtionality

#5027 fix(branchUnit): check target when predict and real are all taken
  src/main/scala/xiangshan/backend/fu/wrapper/BranchUnit.scala
Labels: module: backend, topic: funtionality

#5014 feat(Frontend): increase FetchBlockSize to 64B
  src/main/scala/top/Configs.scala
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
  src/main/scala/xiangshan/frontend/ifu/PreDecodeBoundary.scala
  src/main/scala/xiangshan/frontend/ifu/PredChecker.scala
Labels: module: frontend, topic: performance

#5016 fix(Ftq): add ExceptionType.fromBackend & fix write condition in Ftq
  src/main/scala/xiangshan/frontend/Bundles.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
Labels: module: frontend, topic: funtionality

#5028 fix(abtb): fix abtb meta signal X-Propagation
  src/main/scala/xiangshan/frontend/bpu/abtb/AheadBtb.scala
Labels: module: frontend, topic: funtionality

#5038 misc(ci): increase swap & decrease JVM_XMX to avoid oom
  .github/workflows/emu.yml
Labels: module: other, topic: usability

#5054 fix(ifu): fix s1 flush condition
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Labels: module: frontend, topic: funtionality

#5056 fix(tage): connect WriteBuffer to Tage
  src/main/scala/xiangshan/frontend/bpu/WriteBuffer.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Bundles.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageBaseTable.scala
  src/main/scala/xiangshan/frontend/bpu/tage/TageTable.scala
Labels: module: frontend, topic: funtionality

#5059 fix(loadTrigger): the prefetch instructions don’t match trigger at all
  src/main/scala/xiangshan/backend/fu/NewCSR/Debug.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: module: backend, topic: funtionality

#5055 fix(ICache): bpu s3 flush waylookup & mainPipe s1
  src/main/scala/xiangshan/frontend/icache/Bundles.scala
  src/main/scala/xiangshan/frontend/icache/ICacheImp.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
Labels: module: frontend, topic: funtionality

#5037 feat(Bpu): use first mispredict branch to train mbtb and tage
  src/main/scala/xiangshan/frontend/bpu/mbtb/MainBtb.scala
  src/main/scala/xiangshan/frontend/bpu/tage/Tage.scala
Labels: module: frontend, topic: performance

#5031 fix(perfcct, ifu): fix enable for createInstMetaAtFetch
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Labels: module: frontend, module: tool, topic: verification

#5074 fix(Closecompress): when rob compress close, the brh instruction compress bit cannot be true
  src/main/scala/xiangshan/backend/rename/CompressUnit.scala
Labels: module: backend, topic: funtionality

#5072 fix(ICache,Ifu): do not bpuFlush if not valid
  src/main/scala/xiangshan/frontend/ftq/Bundles.scala
  src/main/scala/xiangshan/frontend/ftq/Ftq.scala
  src/main/scala/xiangshan/frontend/icache/ICacheMainPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICachePrefetchPipe.scala
  src/main/scala/xiangshan/frontend/icache/ICacheWayLookup.scala
  src/main/scala/xiangshan/frontend/ifu/Ifu.scala
Labels: module: frontend, topic: funtionality

#5050 fix(resolve): adjust resolve queue parameter and branch enqueue index
  src/main/scala/xiangshan/frontend/FrontendParameters.scala
  src/main/scala/xiangshan/frontend/bpu/Bundles.scala
  src/main/scala/xiangshan/frontend/ftq/Bundles.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueue.scala
  src/main/scala/xiangshan/frontend/ftq/ResolveQueueCommit.scala
Labels: module: frontend, topic: performance

#5068 misc: update CODEOWNERS
  .github/CODEOWNERS
Labels: module: other

#5087 fix(TLB): fix incorrect TLB level refill when has exception
  src/main/scala/xiangshan/cache/mmu/MMUBundle.scala
Labels: module: memory, topic: funtionality
