Repository OpenXiangShan/XiangShan, pull requests merged in 2025-06, with the labels that each got.

#4731 fix(StoreQueue): fix vecExceptionFlag when flow is misaligned
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/mem/Bundles.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
  src/main/scala/xiangshan/mem/vector/VMergeBuffer.scala
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
  src/main/scala/xiangshan/mem/vector/VSplit.scala
  src/main/scala/xiangshan/mem/vector/VecBundle.scala
Labels: bug, kmh-v2r2

#4769 fix(PMP): take a beat for `cmd`
  src/main/scala/xiangshan/backend/fu/PMP.scala
Labels: kmh-v2r2

#4764 fix(TrapEntry): hardwareError should be a memory exception
  src/main/scala/xiangshan/package.scala
Labels: kmh-v2r2

#4776 feat: use custom HINT for simulation debug trigger
  src/main/scala/xiangshan/backend/Bundles.scala
  src/main/scala/xiangshan/backend/decode/DecodeUnit.scala
  src/main/scala/xiangshan/backend/rename/Rename.scala
  src/main/scala/xiangshan/backend/rob/Rob.scala
Labels: kmh-v2r2

#4762 fix(LoadUnit): fix bug in hardware error written back
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
Labels: kmh-v2r2

#4753 fix(MainPipe): fix report error for probe/atomic request
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug, kmh-v2r2

#4782 fix(MainPipe): adjust `s2_can_go_to_s3` select priority for refill ecc inject lead to tag miss
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Labels: bug, kmh-v2r2

#4779 fix(DiffStoreEvent): unify the difftest time of various store
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/mem/Bundles.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
  src/main/scala/xiangshan/mem/lsqueue/LSQWrapper.scala
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
  src/main/scala/xiangshan/mem/sbuffer/Sbuffer.scala
Labels: kmh-v2r2

#4755 fix(MainPipe): add reg enable for mainpipe `ecc_delayed`
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/data/BankedDataArray.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug, kmh-v2r2

#4741 fix(MainPipe): fix probe/replace stall for alias scheme
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Labels: bug, kmh-v2r2

#4791 fix(MetaArray): enable write bypass for read
  src/main/scala/xiangshan/cache/dcache/meta/AsynchronousMetaArray.scala
Labels: kmh-v2r2

#4792 fix(VLSU): vector ld/st does not generate misalign exception when mmio
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
  src/main/scala/xiangshan/mem/vector/VSegmentUnit.scala
Labels: kmh-v2r2

#4807 fix(StoreUnit): vec misalignBufferNack need to mergebuffer
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Labels: kmh-v2r2

#4811 fix(MMU): global entries should always hit even asid switch
  src/main/scala/xiangshan/cache/mmu/MMUBundle.scala
  src/main/scala/xiangshan/cache/mmu/MMUConst.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
  src/main/scala/xiangshan/cache/mmu/TLBStorage.scala
Labels: urgent, kmh-v2r2

#4812 fix(LSU): cbozero also needs to perform raw checks on the pipe
  src/main/scala/xiangshan/mem/Bundles.scala
  src/main/scala/xiangshan/mem/pipeline/LoadUnit.scala
  src/main/scala/xiangshan/mem/pipeline/StoreUnit.scala
Labels: bug, kmh-v2r2

#4842 fix(MainPipe): fix `extra_meta_resp` overrided
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug, kmh-v2r2

#4841 chore: change geilen for power off to 7
  src/main/resources/config/Poweroff.yml
Labels: kmh-v2r2
