Repository OpenXiangShan/XiangShan, pull requests merged in 2025-05, with the labels that each got.

#4658 fix(TLB): fix a bug in handle_block where s2_ppn is generated
  src/main/scala/xiangshan/cache/mmu/TLB.scala
Labels: kmh-v2r2

#4659 fix(MMU): fix MMU hit logic for napot cases
  src/main/scala/xiangshan/cache/mmu/MMUBundle.scala
  src/main/scala/xiangshan/cache/mmu/PageTableCache.scala
  src/main/scala/xiangshan/cache/mmu/Repeater.scala
  src/main/scala/xiangshan/cache/mmu/TLB.scala
  src/main/scala/xiangshan/mem/MemBlock.scala
Labels: kmh-v2r2

#4622 fix(DCache): fix DCache replacement when replace a `BtoT` ways
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/Probe.scala
  src/main/scala/xiangshan/mem/pipeline/AtomicsUnit.scala
Labels: bug, kmh-v2r2

#4660 fix(StoreQueue): fix timeout of vecExceptionFlag when redirect
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Labels: kmh-v2r2

#4686 fix(docker): Forward variables in the make command line to docker
  scripts/Makefile.docker
Labels: bug

#4663 fix(StoreQueue): cbozero flag should not be set on exception
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Labels: kmh-v2r2

#4661 fix(StoreQueue): not do nc store when having exception
  src/main/scala/xiangshan/mem/lsqueue/StoreQueue.scala
Labels: kmh-v2r2

#4669 feat(top): Move DTS ResourceBinding flow to BaseXSSoC
  src/main/scala/top/Top.scala
  src/main/scala/top/XSNoCTop.scala
Labels: refactor

#4718 fix(MainPipe): fix pseudo ecc inject report address
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Labels: bug, kmh-v2r2

#4714 perf(L1StreamPf): double the L2 prefetch distance
  src/main/scala/xiangshan/mem/prefetch/L1StreamPrefetcher.scala
Labels: kmh-v2r2

#4720 fix(MainPipe): only requests from sbuffer are allowed to return replay response
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
Labels: bug, kmh-v2r2

#4643 refactor(Config): refactor `DFT` option passing method
  src/main/scala/top/ArgParser.scala
  src/main/scala/top/Configs.scala
  src/main/scala/top/XSNoCTop.scala
  src/main/scala/top/YamlParser.scala
  src/main/scala/xiangshan/Parameters.scala
Labels: refactor

#4737 fix(DCache): use `ParallelPrioirtyMux` instead of `ParallelMux`
  src/main/scala/xiangshan/cache/dcache/DCacheWrapper.scala
Labels: bug, kmh-v2r2

#4743 fix(DCache): ignore tag match when refill a miss req caused by tag error
  src/main/scala/xiangshan/cache/dcache/mainpipe/MainPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Labels: kmh-v2r2

#4750 fix(LoadPipe): load will not enter missqueue when btot grow fail
  src/main/scala/xiangshan/cache/dcache/loadpipe/LoadPipe.scala
  src/main/scala/xiangshan/cache/dcache/mainpipe/MissQueue.scala
Labels: bug, kmh-v2r2
